flows.json
[
    {
        "id": "2556b63e0079236f",
        "type": "tab",
        "label": "Processor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72616b58f25046a8",
        "type": "http in",
        "z": "2556b63e0079236f",
        "name": "Listen on /API for POSTS from EdgeWorkers",
        "url": "/api",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 700,
        "y": 340,
        "wires": [
            [
                "28c0c25a381eddcb",
                "c7357ccc4438a716",
                "024b55d7d70bcc3b"
            ]
        ]
    },
    {
        "id": "28c0c25a381eddcb",
        "type": "template",
        "z": "2556b63e0079236f",
        "name": "Create JWT Claims",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"value1\":\"{{payload.value1}}\",\"value2\":\"{{payload.value2}}\"}",
        "output": "json",
        "x": 620,
        "y": 380,
        "wires": [
            [
                "cea093fac2d6f8f1"
            ]
        ]
    },
    {
        "id": "c7357ccc4438a716",
        "type": "http response",
        "z": "2556b63e0079236f",
        "name": "Async Acknowledgement of POST to EW Client",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 340,
        "wires": []
    },
    {
        "id": "cea093fac2d6f8f1",
        "type": "jwt sign",
        "z": "2556b63e0079236f",
        "name": "",
        "alg": "RS256",
        "exp": "3156000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "",
        "key": "/data/key",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 580,
        "y": 420,
        "wires": [
            [
                "b0fd5e67a441669d"
            ]
        ]
    },
    {
        "id": "b0fd5e67a441669d",
        "type": "change",
        "z": "2556b63e0079236f",
        "name": "Insert Token into POST to BQ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "22284ad40aa3394c"
            ]
        ]
    },
    {
        "id": "22284ad40aa3394c",
        "type": "http request",
        "z": "2556b63e0079236f",
        "name": "POST request to BQ with data",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "024b55d7d70bcc3b",
        "type": "bigquery insert",
        "z": "2556b63e0079236f",
        "bigquery": "",
        "dataset": "",
        "table": "",
        "name": "Input directly into BQ via Service Account Credential",
        "x": 1250,
        "y": 400,
        "wires": []
    },
    {
        "id": "e1a156500238eb82",
        "type": "comment",
        "z": "2556b63e0079236f",
        "name": "Alternative- use node.js module for BQ inserts",
        "info": "",
        "x": 1220,
        "y": 440,
        "wires": []
    },
    {
        "id": "fdaa044f5b6a5d7a",
        "type": "comment",
        "z": "2556b63e0079236f",
        "name": "Initial Approach - sign/insert JWT into POST to BQ",
        "info": "",
        "x": 260,
        "y": 500,
        "wires": []
    }
]
